/* 검색 컴포넌트 컨테이너 */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

/* 검색 입력창 스타일 */
.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

/* 검색 버튼 스타일 */
.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffcc99;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #ff9966;
}

/* 주요 도시 컨테이너 */
.major-cities-container {
    margin-top: 20px;
}

/* 주요 도시 리스트 */
.major-cities {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* 주요 도시 버튼 스타일 */
.major-city-button {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 20px; /* 기존보다 둥근 처리 */
    border: none;
    background-color: #ffe6cc;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
}

.major-city-button:hover {
    background-color: #ffd1b3;
}

.hidden {
    display: none; /* 버튼을 화면에서 완전히 숨김 */
}